*{
    margin: 0;
    padding: 0;
}
body {
    background-color: #BEBEBE;
    color: Black;
    padding: 1%;
  }
  header{
    background-color: #999999;
      font-size: xx-large;
      font-style: italic;
      font-weight: bolder;
      padding: 1%;
  }
  /* PseudoClase */
  #cabeza:hover{
      background-color: var(--bg--secundario);
  }
  main{
    background-color: #CCCCCC;
    padding: 1%;    
  }

  /* herencias */
  main .tarea1{
      background-color: saddlebrown;
  }
  /* bordes */
  h1{
      background-color: #7F7F7F;
      font-size: x-large;
      padding: 1%;
      border: 5px dotted rgb(187, 163, 163);
  }
  
  h2{
      background-color: #B3B3B3;
      font-size: large;
      padding: 1%;
      border: 5px dashed rgb(0, 0, 0);

  }
  /* variables */
  :root{
      
      --bg-primario: seagreen;
      --tamaño-texto: 25px;
      --bg--secundario: red
 }  
  p{
    align-content: center;
    background-color: #c6c4c4;
    padding: 1%;
    background-color: var(--bg-primario);
    font-size: var(--tamaño-texto);
  }
  /* PSEUDOELEMENTOS */
  .objetivo::before{
      content: "Esto es un before";
      background-color: var(--bg--secundario);
  }

  .objetivo::after{
    content: "Hola esto es un PseudoElemento After";
    background-color: var(--bg--secundario);

  }
  em{
   background-color: #B3B3B3;
  }
  
  strong{
   background-color: #B3B3B3;
      padding: 1%;
  }
  
  ul{
   background-color: #999999;
      padding: 1%;
  }
  
  li{
   background-color: #c6c4c4;
      padding: 1%;
  }
  
  footer{
   background-color: #999999;
      padding: 1%;
  }
  /* eliminamos los estilos de los enlaces*/
  a:hover{
    text-decoration:none;
  }
  a{
    text-decoration:none;
      color: inherit;
  }
  